svg(xmlns='http://www.w3.org/2000/svg', width='208.489', height='187.491', viewBox='0 0 208.489 187.491', fill='#000', enable-background='new 0 0 208.489 187.491')
    polygon(points='26.447,178.272 191.184,13.537 191.184,178.272 ')
    polygon(points='18.625,13.537 97.082,91.993 18.625,170.45 ')
