- FULL_NAME = 'Diego Abizaid'
- PAGE_TITLE = `${FULL_NAME} Development`

//Landing Section
- WELCOME = 'Welcome'
- SCROLL = 'scroll down'

//About Section
- ABOUT = 'ABOUT ME'
- HELLO_WORLD = 'Hello World! '
- ABOUT_ME = 'My name is Diego and I\'m a developer that enjoys creating beautiful, fast, and intuitive applications.\nI\'ve always been fascinated by how much of a positive impact something you can create from your computer can have on someone\'s life. This is why, whether I\'m making a tool for a client, devising an algorithm to solve a problem, or just fixing the smallest of bugs, I love perfecting every line of code I write.\nWhen I\'m not coding I like to take advantage of all the wonderful things New York City has to offer.'

// Tools Section
- SKILLS_TAGLINE = 'TOOLS I USE'
- TOOLS_SECTION_DESCRIPTION = 'Here are some of the tools I get to work with that make it all happen'
- var toolsArray = [{name: 'Markup', tech: [{name: 'HTML', imageURL: 'html.png'},  {name: 'Handlebars', imageURL: 'handlebars.png', long: 'true'},{name: 'Pug',imageURL: 'pug.png'}]}, {name: 'Style', tech: [{name: 'CSS',imageURL: 'css.png'},{name: 'SCSS',imageURL: 'scss.png'},{name: 'Bootstrap',imageURL: 'bootstrap.png', long:'true'}]}, {name: 'Programming', tech: [{name: 'Java',imageURL: 'java.png'},{name: 'C#',imageURL: 'c_sharp.png'},{name: 'SQL',imageURL: 'sql.png'}]}, {name: 'Scripting', tech: [{name: 'JavaScript',imageURL: 'javascript.png', long: 'true'},{name: 'React',imageURL: 'react.png', long: 'true'},{name: 'Angular',imageURL: 'angular.png', long: 'true'}, {name: 'Redux',imageURL: 'redux.png', long: 'true'}, {name: 'Node',imageURL: 'node.png', long: 'true'}, {name: 'jQuery',imageURL: 'jquery.png', long: 'true'}, {name: 'TypeScript',imageURL: 'typescript.png', long: 'true'}, {name: 'WebPack',imageURL: 'webpack.png', long: 'true'}, {name: 'Gulp',imageURL: 'gulp.png', long: 'true'}]}];
- var toolCategories= [{name: 'Markup', tech: ['HTML', 'Handlebars', 'Pug']}, {name: 'style', tech: ['css', 'scss', 'bootstrap']}, {name: 'programming', tech: ['java', 'C#', 'sql']}, {name: 'scripting', tech: ['javascript', 'react', 'angular', 'redux', 'node', 'jQuery', 'typeScript', 'webpack', 'gulp']}];
//Contact Section
- GET_IN_TOUCH = 'GET IN TOUCH'
- LINKED_IN_TEXT = 'in/diegoabizaid'
- LINKED_IN_PATH = 'https://www.linkedin.com/in/diegoabizaid'
- EMAIL = 'diegoabizaid@gmail.com'
- RESUME_TEXT = 'CHECK OUT MY RESUME'
- RESUME_PATH = 'resume.pdf'

// Footer
- COPYRIGHT = '© 2018 Diego Abizaid'
- ANALYTICS_DISCLAIMER = 'This page uses '
- GOOGLE_ANALYTICS = 'Google Analytics '
- GOOGLE_PRIVACY_POLICY = '(Google Privacy Policy)'
- var versions = [{number: '3.0', year: '2018', url: '/'}, {number: '2.0', year: '2017', url: 'v2.0'}, {number: '1.0', year: '2016', url: 'v1.0'}];