html {
	height: 100% !important;
	margin: 0;
	padding: 0;
}
a {
	cursor: pointer;
}
body {
	overflow: hidden;
}
h1,h2,h3,p,a, figcaption {
	font-family: 'Roboto', sans-serif;	
}

.navbar {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=48, Direction=0, Color=#051B3F)";
	-moz-box-shadow: 0 1px 48px 6px #051B3F;
	-webkit-box-shadow: 0 1px 48px 6px #051B3F;
	box-shadow: 0 1px 48px 6px #051B3F;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=48, Direction=135, Color=#051B3F);
	border: none !important;
}

.navbar-inverse {
	background-color: #102B55 !important;
	cursor: pointer;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #102B55 !important;
}

.navbar-inverse .navbar-collapse {
	border: none;
}

.navbar li>a {
	color: white !important;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar li>a:hover {
	background-color: #23527c !important;
}
.active {
	background-color: #23527c !important;	
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}
.navbar button {
	background-color: #102B55;
	border: none;
}

.navbar-brand>img {
	height: 43px;
	position: relative;
	top: -11px;
}
.loader-curtain {
    position: fixed;
    top: 0;
    width: 51vw;
    height: 100vh;
    background: #112448;
    z-index: 99999;
}
.loader-logo{
    width: 250px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999999;
    margin-top: -125px;
    margin-left: -125px;
}
.loaded.loader-logo{
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	opacity: 0;	
}
.spinner {
    width: 258px;
    z-index: 999999999;
    position: fixed;
    top: 50%;
    margin-top: -161px;
    left: 50%;
    height: 258px;
    margin-left: -134px;
}
.spinner-rotate {
    animation: rotate 2s linear infinite;
}
.loaded.spinner {
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	opacity: 0;	
}
.path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation:
    dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}
.left-curtain {
    left: 0;
}
.right-curtain {
    right: 0;
}
.loaded.loader-curtain{
	width: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}


/*Cover*/
#cover {
	background-color: #6EB8F3;
	padding-top: 100px;
}

.computer-image {
	background: url(../images/desk.png);
	background-position: center;
	background-size: cover;
	height: 400px;
	display: block;
	margin-top: 100px;
	margin-bottom: 0;
	margin: 0 auto;
	position: relative;
	bottom: 0;
}

.clock {
	position: absolute;
	background-color: #59595A;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 36px;
	width: 4px;
	left: 104px;
	top: 56px;
	transform-origin: 50% 100%;
	ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.clock2 {
	position: absolute;
	background-color: #59595A;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 24px;
	width: 4px;
	left: 104px;
	top: 67px;
	transform-origin: 50% 100%;
	ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}

.code {
	position: absolute;
	height: 93px;
	width: 154px;
	right: 199px;
	bottom: 141px;
	background: url(../images/code.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: 38%;
}

.cover-logo {
	height: 150px;
	margin: 0 auto;
	display: block;
	margin-top: 100px;
}

.cover-title {
	text-align: center;
	padding: 0 10px;
	padding-bottom: 40px;
}

/*About*/
#about {
	background-color: #102B55;
	padding: 20px 0;
	z-index: 2;
	padding-bottom: 70px;
}

.slogan {
	margin-bottom: 3em;
	font-weight: 400;
	color: #fff;
}

.about-header {
	color: white;
}

.about-subheader {
	color: white;
	font-weight: 300;
}

.about-subheader-description {
	font-size: 15px;
	color: white;
}

.phone-container {
	background: url(../images/phone-icon.png);
}

.code-container {
	background: url(../images/code-icon.png);
}

.about-graphic {
	width: 100%;
	border-radius: 50%;
	display: block;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	background-color: #E74C3C;
}

.section-title {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1.5em;
}

/*Technologies*/
#technologies {
	background: #E74C3C;
}

.technologies-header {
	margin-bottom: 1.5em;
	color: white;
}

figure.tech {
	overflow: visible;
}

.tech figcaption {
	height: 30px;
	bottom: -20%;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2em;
	color: white;
}

.html {
	background: url(../images/html.png);
}

.css {
	background: url(../images/css.png);
}

.js {
	background: url(../images/js.png);
}

.jquery {
	background: url(../images/jquery.png);
}

.bootstrap {
	background: url(../images/bootstrap.png);
}

.foundation {
	background: url(../images/foundation.png);
}

.factory-image-top {
	position: relative;
	top: 210px;
}

#work {
	padding-bottom: 15em;
	padding-top: 8em;
	background: #115b9b;
}

#firstWork figcaption {
	padding-top: 35%;
}

#secondWork figcaption {
	padding-top: 21%;
}

#thirdWork figcaption {
	padding-top: 33%;
}

#fourthWork figcaption {
	padding-top: 30%;
}

#fifthWork figcaption {
	padding-top: 30%;
}

.brand-logo {
}

.brand-logo figcaption {
	position: absolute;
	color: #0D47A1;
	padding: 10px 20px;
	bottom: -100%;
	height: 100%;
	width: 100%;
	font-size: 1.4em;
	background: #009688;
	text-align: center;
	padding-top: 23%;
	color: white;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}

.brand-logo:hover figcaption {
	bottom: 0;
}

.mavy {
	background: url(../images/mavy.png);
}

.sntc {
	background: url(../images/sntc.png);
}

.mmp {
	background: url(../images/mmp.png);
}

.ufic {
	background: url(../images/ufic.png);
}

.agency {
	background: url(../images/agency.png);
}

/*Resume*/
#resume {
	background-color: #6EB8F3;
	color: #102B55;
	padding: 10em 0;
}

#resume h2 {
	margin-top: 0;
	font-size: 3em;
}

.resume-button {
	background-color: #E74C3C;
	color: white;
	border-radius: 4px;
	padding: 10px 15px;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
}

.resume-button:focus,
.resume-button:active {
	text-decoration: none;
	color: white;
}

.resume-button:hover {
	text-decoration: none;
	color: white;
	background-color: #CA3D2F;
}

.resume-button i {
	margin-left: 10px;
}

/*Footer*/
footer {
	padding: 3em 0 1em 0;
	background-color: #102B55;
	color: white;
}

.headshot {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: url(../images/headshot.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	vertical-align: middle;
}

.name-title {
	font-size: 20px;
	position: relative;
	left: 20px;
	top: 10px;
}

.footer-subtitle {
	position: relative;
	right: -20px;
	top: 12px;
}

.footer-icon {
	width: 100px;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}

footer i+a {
	position: relative;
	font-size: 16px;
	top: -5px;
	left: -20px;
	color: white;
}

.footer-disclaimer {
	margin-top: 10px;
	margin-left: 20px;
	display: inline-block;
}

.footer-text {
	font-size: 12px;
	margin-top: 30px;
}

.tech,
.brand-logo {
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	z-index: 0;
	margin-top: 40px;
	left: 0;
	right: 0;
	max-width: 270px;
	display: block;
	background-position: center center;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
}

figure {
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}

figure:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color=#454141)";/*IE 8*/
	-moz-box-shadow: 0 0 20px 1px #454141;/*FF 3.5+*/
	-webkit-box-shadow: 0 0 20px 1px #454141;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 0 0 20px 1px #454141;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color=#454141); /*IE 5.5-7*/
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

/*Media Queries*/
@media (max-width:400px) {
	.address-link {
		display: block;
		width: 150px;
		top: -34px;
		left: 82px;
	}

	.footer-disclaimer {
		margin-top: -10px;
	}

}

@media (max-width:767px) {
	.tech {
		margin-top: 33%;
	}

	.cover-logo {
		margin-top: 0;
	}

	#firstTech {
		margin-top: 0;
	}

}

@media (max-width:991px) {
	.tech,
	.brand-logo {
		width: 65%;
	}

}

@media (min-width:992px) and (max-width:1199px) {
	.computer-image {
		height: 345px;
		width: 415px;
		bottom: -41px;
	}

	.code {
		height: 74px;
		width: 122px;
		right: 146px;
		bottom: 125px;
	}

	.clock {
		height: 29px;
		width: 4px;
		left: 67px;
		top: 57px;
	}

	.clock2 {
		height: 21px;
		width: 4px;
		left: 67px;
		top: 64px;
	}

}

@media (min-width:768px) and (max-width:991px) {
	.computer-image {
		bottom: -133px;
		height: 254px;
		width: 300px;
	}

	.code {
		height: 55px;
		width: 91px;
		right: 104px;
		bottom: 92px;
	}

	.clock {
		height: 19px;
		width: 3px;
		left: 46px;
		top: 44px;
	}

	.clock2 {
		height: 15px;
		width: 3px;
		left: 46px;
		top: 48px;
	}

	#work figcaption {
		font-size: 10px;
	}

	#firstWork figcaption {
		padding-top: 35%;
	}

	#secondWork figcaption {
		padding-top: 21%;
	}

	#thirdWork figcaption {
		padding-top: 33%;
	}

	#fourthWork figcaption {
		padding-top: 30%;
	}

	#fifthWork figcaption {
		padding-top: 30%;
	}

	.tech figcaption {
		bottom: -36%;
		font-size: 1.4em;
		color: white;
		margin-top: 163px;
	}

}

/*Iphone 4*/
@media (min-width:300px) and (max-width:400px) {
	.computer-image {
		height: 230px;
		width: 269px;
	}

	.code {
		height: 50px;
		width: 82.2px;
		right: 93px;
		bottom: 83px;
	}

	.clock {
		height: 18px;
		width: 2px;
		left: 41px;
		top: 39px;
	}

	.clock2 {
		height: 15px;
		width: 2px;
		left: 41px;
		top: 43px;
	}

	#work figcaption {
		font-size: 17px;
	}

}

@media (min-width:401px) and (max-width:500px) {
	.computer-image {
		height: 300px;
		width: 360px;
	}

	.code {
		height: 66px;
		width: 108px;
		right: 125px;
		bottom: 108px;
	}

	.clock {
		height: 25px;
		width: 3px;
		left: 58px;
		top: 50px;
	}

	.clock2 {
		height: 18px;
		width: 3px;
		left: 58.5px;
		top: 57px;
	}

	#work figcaption {
		font-size: 17px;
	}

}

@media (min-width:501px) and (max-width:600px) {
	.computer-image {
		height: 364px;
		width: 470px;
	}

	.code {
		height: 78px;
		width: 130px;
		right: 169px;
		bottom: 132px;
	}

	.clock {
		height: 30px;
		width: 4px;
		left: 87px;
		top: 62px;
	}

	.clock2 {
		height: 23px;
		width: 4px;
		left: 87px;
		top: 68px;
	}

}

@media (min-width:601px) and (max-width:767px) {
	.computer-image {
		height: 432px;
		width: 560px;
	}

	.code {
		height: 93px;
		width: 155px;
		right: 201px;
		bottom: 157px;
	}

	.clock {
		height: 38px;
		width: 4px;
		left: 105px;
		top: 69px;
	}

	.clock2 {
		height: 29px;
		width: 4px;
		left: 104.5px;
		top: 79px
	}

}

#separator-triangle {
	pointer-events: none;
	background-color: #115b9b;
	vertical-align: top;
}

#separator-triangle path {
	fill: #E74C3C;
	stroke: #E74C3C;
	stroke-width: 2;
}