@import "../colors.scss";

#contact_section {
  background: $black;
  color: $black;

  .card-container {
    background: $white;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;

    &:after {
      content: '';
      background: url('/../../img/rip.svg') 100% 0 / 100% no-repeat;
      width: 100%;
      height: 10vw;
      grid-column: 1/4;
      margin-bottom: -4vw;
    }

    figure.headshot {
      justify-self: center;
      margin-top: -80px;
      z-index: 1;

      .image-container {
        display: flex;
        height: 110px;
        width: 110px;
        align-items: center;
        border-radius: 50%;
        background: $black;
        margin: 0 auto;

        img {
          width: 90px;
          height: 90px;
          object-fit: cover;
          border-radius: 50%;
          display: block;
        }
      }

      figcaption {
        margin-top: 0.75em;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Oswald', sans-serif;
      }
    }

    .contact-info {
      list-style: none;
      padding-left: 0;
      justify-self: center;
      display: grid;
      grid-template: repeat(3, 1fr) / 50px auto;
      align-items: center;

      i {
        font-size: 1.8em;
        margin: 0.25em auto;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    a.resume__button {
      justify-self: center;
      margin: 3em 0;
      white-space: pre-line;
      font-size: 1.2em;
      cursor: pointer;
      border: 2px solid $white;
      transition: color, background-color, border-color 0.20s ease-in-out;
      font-family: 'Oswald', sans-serif;
      outline: none;
      height: 60px;
      width: 280px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $black;

      svg {
        height: 66px;
        width: 83px;
        position: absolute;
        top: -3px;
        transition: fill 0.20s ease-in-out;
        &:first-child {
          left: -12px;
          transform: rotate(90deg);
        }
        &:nth-child(2) {
          right: -12px;
          transform: rotate(-90deg);
        }
      }

      &:hover {
        background-color: $black;
        border-color: $black;
        color: $white;
        svg {
          fill: $white;
        }
      }
      &:focus {
        box-shadow: $blue1 0 0 0 3px inset;
      }
    }
  }
}