// Gradient
$amber1: #FFB300;
$amber2: #FF8F00;
$amber3: #FF6F00;

$blue1: #03a9f4;
$blue2: #045c91;
$blue-gray: #263238;

  // Palette
$primary-blue: #000051;
$black: #000000;
$light-gray: #829093;
$white: #ffffff;

// Tools Section
$code-secondary: transparentize($white, 0.5);